.plain-link {
    text-decoration: none;
}

.plain-link:hover {
    text-decoration: none;
    color: black;
}

.nav-link-mobile {
    text-align: center;
    padding: 1rem 0;
}

.welcome {
    animation: wiggle 2s infinite;
    transform-origin: bottom;
}

@keyframes wiggle {
    0% { transform: rotateZ(0deg); }
   80% { transform: rotateZ(0deg); }
   85% { transform: rotateZ(10deg); }
   95% { transform: rotateZ(-10deg); }
  100% { transform: rotateZ(0deg); }
}

.form-input {
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 4px 5px;
}

.orange-bg {
    background-color: #FE5E01;
}